body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.container {
  min-width: 900px;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 2.3%;
  margin: 0 auto;
}

/* общие стили */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.empty-field {
  font-size: 0;
  line-height: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link,
.link-dark {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}

.link-dark {
  color: #323232;
}

.link::after,
.link-dark::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.3;
}

.link-dark::after {
  background-color: #323232;
}

.link:hover,
.link:active,
.link:focus {
  color: #ffbc9e;
}

.link-dark:hover,
.link-dark:active,
.link-dark:focus {
  color: #e84d37;
}

.link:hover::after,
.link:active::after,
.link:focus::after {
  background-color: #ffbc9e;
}

.link-dark:hover::after,
.link-dark:active::after,
.link-dark:focus::after {
  background-color: #e84d37;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover {
  background-color: #ffffff;
  background-image: linear-gradient( 90deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.button:active {
  background-color: #000000;
  background-image: linear-gradient( 90deg, rgba(242, 104, 67, 0.93) 0%, rgba(231, 74, 53, 0.93) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}

/* шапка */
.page-menu {
  display: flex;
}
.nav-link {
  display: block;
  margin: 7px 15px;
  line-height: 18px;
  font-weight: 700;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.nav-link-current {
  margin: 0;
  padding: 7px 15px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.nav-link:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.nav-link:hover::after,
.nav-link:active::after,
.nav-link:focus::after {
  display: none;
}

.nav-link-current {
  color: #ffffff;
  background-color: #d07058;
}

.nav-link-current::after {
  display: none;
}

/**/

.user-menu {
  display: flex;
  justify-content: flex-end; /* временно */
}

.user-link {
  display: block;
  padding: 8px 15px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.search-link:hover,
.login-link:hover,
.cart-full-link {
  color: #323232;
  background-color: rgba(248, 247, 244, 0.99);
}

.user-icon {
  position: relative;
  padding-left: 42px;
}

.user-icon::after {
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
}

.search-icon {
  padding-left: 17px;
}

.search-icon::after {
  top: calc(50% - 8.5px);
  right: calc(50% - 8.5px);
  width: 17px;
  height: 17px;
  background-image: url(../img/loupe.svg);
}

.search-icon:hover::after {
  background-image: url(../img/loupe-hover.svg);
}

.login-icon::after {
  top: calc(50% - 10.5px);
  left: 15px;
  width: 21px;
  height: 19px;
  background-image: url(../img/entrance.svg);
}

.login-icon:hover::after {
  background-image: url(../img/entrance-hover.svg);
}

.cart-icon::after {
  top: calc(50% - 10.5px);
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url(../img/basket.svg);
}

.cart-icon-full::after {
  top: calc(50% - 10.5px);
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url(../img/basket-red.svg);
}

/**/

.submenu {
  position: absolute;
  display: none;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.submenu-link {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.submenu-link:hover {
  background-color: #fbded7;
}

.submenu-link:active {
  background-color: #f6b5a5;
}

.submenu .current {
  background-color: #d07058;
}

.submenu-new {
  position: relative;
  font-weight: 700;
}

.submenu-special {
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

li:hover .submenu {
  display: block;
}

.label-box {
  position: relative;
  padding: 15px;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 13px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.input:hover {
  padding: 12px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.input:focus {
  padding: 12px;
  border: 2px solid rgba(46, 136, 228, 0.52);  
  outline: none;
}

.label-box label {
  position: absolute;
  top: calc(50% - 12px);
  left: 30px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.label-box .textarea-label {
  top: 25px;
}

.input:focus ~ label,
.input:valid ~ label {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  transform: translateY(-25px);
}

.entrance-links a {
  font-size: 13px;
  line-height: 24px;
}

/**/

.item-del {
  display: block;
  width: 11px;
  height: 11px;
  background-image: url(../img/cross-small.svg);
}

.cart-products {
  color: #323232;
}

.cart-products-list {
  font-size: 13px;
  line-height: 16px;
}

.final-cost {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
}

.price {
  color: #999999;
}

/**/

.work-info {
  font-weight: 700;
  text-align: right;
}

.work-hours {
  font-size: 14px;
  line-height: 16px;
}

.phone {
  margin-top: 0;
  font-size: 22px;
  line-height: 24px;
}

/* подвал */

/* заголовки */
.title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo-title {
  font-size: 60px;
  line-height: 60.35px;
}

/* текст */

/* слайдер */
.page-wrapper {
  background-color: #849d8f;
}

#promo-btn-2:checked ~ .page-wrapper { 
  background-color: #8996a6;
}

#promo-btn-3:checked ~ .page-wrapper { 
  background-color: #9d8b84;
}
/**/



